img{
    width: 70%;
    height: 70%;
}
#general{
    padding: 10%;
}
#top{
    display: flex; 
    flex-direction: row;
}
#info{
    float: left;
}
.formulario{
    position:relative ;
    display: block;
   border-style: solid;
  border-color: brown;
  border-radius: 12%;
    margin: 2%;
    padding: 5%;
}